body{
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', ;
}
.logo{
  font-size: x-large;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}
nav{
    background-color: black;
    list-style-type: none;
    color: azure;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.nav-links a{
    text-decoration: none;
    color: azure;
    font-size: large;
    padding: 15px;
    animation: fadeIn 2s ease forwards;
    opacity: 0;

}
.nav-links a:hover{
    color: gold;
    text-decoration: none;
}
  .login-btn {
    padding: 8px ;
    border-radius: 20px;
    background-color: gray;
    transition: 0.3s;
    
  }
  
  .login-btn:hover {
    background-color: silver;
    
  }
  
  /* Signup button (highlighted) */
  .signup-btn {
    padding: 8px ;
    border-radius: 20px;
    background-color: gray;
    margin-left: 10px;
    transition: 0.3s;
  }
  
  .signup-btn:hover {
    background-color: silver;
  }





.aura-hero {
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSExIVFRUVFRUWFRYVFRUVFRYVFRUXFhUXFhUYHSggGBolGxUVITEiJikrLi4uFx8zODMsNygtLisBCgoKDQ0ODw0NDysZFRk3LS0rLS0tLS03Ky0rLSstKysrKystKysrKysrKysrKysrKy0rKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAADAAECBAUGB//EAEMQAAIBAgQDBQUFBgMHBQAAAAECAAMRBBIhMQVBURMiYXGBBjKRobFCUsHR8BQjYnKC4TOSkwcVQ1OisvEXVFXC0v/EABcBAQEBAQAAAAAAAAAAAAAAAAABAgP/xAAXEQEBAQEAAAAAAAAAAAAAAAAAAREC/9oADAMBAAIRAxEAPwDyoYDTaZGJpZWtPRqfDbLtOM9ocNlb1lsUX2fo5iBOpfgeYDScz7J1O/bxnq+BpAqJZEYHD+CADaZXG+HZTe09AVFE5/2jojLeUcpTo6aQmDwzHeaHDKIM26OEUQOXNHK4nTYWiGUeUy+M0gGBE1+D1LqIFfE4PScd7R4feeiYhQZyHtJh9DIPOzGhK62YiDmQooooCiiigKKKKAooooChsPAwtDeBdkGWTWKAE05E0oe0a0Ct2UUsZYoHtdTBi20879s8JYnSeqtacJ7Z4e4JtOlHBcBq5aonrXDsV3B5TxygctQec9N4LWzUxJyqziOOhamW8Ji6vaKfKcb7Q3WrfxnS8Jq5qY8pUU8BUyky3iuJ5SJQcZah84PiS6AwLGLrZxeXOD17CZNKoMsJgcUFJgdK2KmdxqlmQ+Uz8XxIAwdbi4ZbXgcNxOnZ5TmzicO1aplQXN9egHUnlNnC+ztBE/eHOxGpuVUfyj8T8BMDjY4U9Js8Q4WEN6dVWHQsoYfDQ/KZxvzH5yAS0GOv6+EY0jDEjkYxc+HnKAlI0MR6fSQK/rcSAcUmVkSIDSdI6yEcGBoU5IiCotC5oCtGMfNIM0BrxSGePA9qpY7W0zfaeiGQnwmNieKBKm8sY3jCtTt4TqPNseuV/Wdz7LYoFLTiuLOC8s8J4l2YteYiuj9rFB1EnwDiICWM53inFM4te8zqGOZZdHYcS4gM15TxHELrvOar41m8I9GsSd5L0jYTGG28rNxAg7wV5r8H4KLdtWGm6IefRmH0EmgS4WrVUNcKDtmvc+NuknT4WftVPgPxM1KlS5kS0aBUqAQWBNvO3xta8mFHSVavEaY+1c9F7300ErvxkXsEJN7bjXyteQX6mERt1H0PylGvwgH3T6H8xBf79AJBQixt7wv8DaWqPFqbbkr/ADDT4i4+MDIxGDZN108dvQiVWpdND0P5zrwQRfQg+RB9ecpYrhit7uh+X9oHMMCND8DEADzt9Pj+cv4jDMndYadDqPQys9IcjY9D+BlAWp28PpEPjJU77X9Dz8uUcKRp8j+tIAjSg2QiWXYevTn6dZOjTH2zzH68TII0toS0kEjkQBSLQjCDIlELRpO0UoLi+JM5gjxB7WvKsaTRJmJNzIxRSBRRRQFJ0zIgTX9meDnFVgmoRe9UPRb7A9TsPU8oGt7L8G7QdvV/w190HZyNyf4R8z5a6uLxOc35ch+MucXxCi1FAAiACw202UeAmRUY3VVF3c2pqdr82b+Ea/DwgQxNcJYWLM3uou58fAeJg+G8NOKq9nUqEIFeo5p7JTpoWOh94k5V6XYb841MqkqjZmP+JUvrU8B0Tl4xUqzKrKrEBwA1rAkKwYC+4GYA2HMDoIFduG5CVqIVYHvKwIIPip2l7hT06VVKjJmCNnyjmyglAegzhb+F5PEU6jIuJZi/aO6sxJJFVSTlYnmUsw8L9JWkGjxmulRaKCzZKZLta2atWY1atvAFgv8ASeVpiVeGq2ir3joMu5J2Hxlq8dWsQQSCCCCDYgjUEEbG8auH41wGpgy1SlWVk7R0CkjM5pWDnJ9sBiQTysJHh3Elq6Huv05G2+X8jr5w1bEMyorG6oCqDQABmLnbclmOu+3QTKxHD2ZgaSkuToq7k9RbmJUbdSmGFiLiY/EOGEC66j5j85d4Tju1XX3hvyuOTD8fGXjA5bDYTtF0Oo0IO0BiEan3WHkDr8DNnEpkrXGgcX/qXQ/K0z+OVRnQdBfTxP8AaUU3q5dt/pA0ic1z47+UVYi+n0tC0kNxfqJBfCSLJLEi0CqymDZZbIg3ECtlihrRQM0xo8cAwIx4RcOx5Qy4FoFaNNFOHyzTwHhAyBTPSemcNwgwOEC/8apq3UMRt5KDbz85ley3CA9YMw7tPvm+1x7o+Ov9MucTxna1C32Roo8OvrvArDXc9ST4DUmAq1CtI1L2fErZRYXp4dSVFr83I35gQjUS4FMNlNVlpg6nc67AnpygOL4jPWdhYC+VQNBlTurYeQv6wNr2qxyGlhqNOkKS9kldkBBCtWprZQbA+6M5J1JqaznLwccGB03sVVp1O2wVY5adcBg3/LqLYdoPEfu28VpsOcxcfg6lCq9GqMtSmxRxvYjoeYIsQeYIMr0K5putQbob26jZh6qSPWdz7S4QY3BLjqetXDBaWJtu9D/gVvGw7pPMAnZYVw9opb4fw2pWV3GVKVP/ABK1RhTpIbXClzux0AUXY3GnOUUqg7EX6X1kUUS3wnFijU7Ugkqr5ANu0ZSqlvAZif6RBUsDWb3aVRv5Uc/QQ44Liv8A22I/0Kv/AOZUc9/gVVYDu9PDZh+PpOjvM7jXB66UxUqUKircgFkZdrA3B1X3ha9r8r2MPw170kP8IHw0/CEA42vcD80YH0Oh+vynP49s1Q+AH0B/GdVjaeamy9VI9baTizUN7wIky3gTmcX5aynL3Dl3Pp+vlAvkyJMRMjAUi0k2hsZEwIx4148CVLhvhLlLh3hNgUxEdIFFMCBDLhBDgxy0AX7MI4pCTDRiYFjD4wor0xtUsfILcN8br84GBqPZk8SR/wBJb/6w8A3D3tWpm6jL2jajNe1M2C902a4BvpsdeRFT4UiUMQ7verS7FQiMGVGqVLHtHFwzZUqd1TYaXN7gG4Y1q1P3dSy3ewAzrluL6X1tz3mMjuitTDEKxXOo2Jp3y38szfGAOKKWMHg3qk5coCgF3dglOmpNg1Rzoo6czsATpAB9TYAcyToABzN56T7M8UwPDKZTEVm7d6ZFShVFiKZNxTaihKoxBtao2YC11UEziBxJaN1wmbNqGxTDLUIOlsMv/AUi/fP7w3+wO7MlqQPL879b9YV3VL277NVQ0KBencZFw7ZKTfaWkjFadPXzJtqSYKt/tLxx0p9weVKnb0RCf+qcezkkkkkkkknUknUknmbxrwN3E+1/Eal82LcX5Kzn/vZh8pl18ZWqavXrN/WV+SWla8NhsK7h2RSwpgM9vsgsFBtudSBpAJjay9lTp0xYhT2rtbPUdnJILanIFygC+tjcbRuDj90v9R+LGAqKQtQkaoCLHQ527qrbe976eEvYWlkVV6KB8BCGxtbIhb4eZ2nGLSJbKoJN7ADUmb3HsTrkGy6nzO3y+sq8BS5LX1EC/gvZJ7Zq9WnR/hJz1P8AKu3rNGlwXBoO89Wp5WQQV5EmXBYahhB7tC/8zkwJoYf/AJI+JjGi9gbWB2J0B8uvpAsH6j5wGbB0eVMfEylUTtKlOhSVQ9SoqC992OUXOthcw1eo1tvhMBqjBs1yGBuCNCCNrHrA9N/9Ll/+XwX+Y/nFPPv9zVf4P9RPzigdaYIyTPIXkDiOBIg3hlFoAyJIiwjgRiNYFLiFwEfkrgny2PyJl4QmLwuaifEEylw2rmQX3HdPmP7WPrAsN1ABIIYA3sSNdbG9pDi1G9VagsVrWaykWDkgVEBFxcE/MbwsNg8QEBVioW+dHKZzSraBagUe8B91tPAnQg/GeCJh6lU1nNNe2qChQXvYmpSWoyo4vpTQgDvvvqQrbHIxeLaoApASmpulFPcU2tmJOtSpbd2ueQsLAPj6FRKjdsS1Ru8zsxY1L7PnPvA8jJcP4fVrsUpIXYKz5QRcqupsCe8fAawK0UlUQqSrKVINiGBBB6EHUGRvAaPGk6VNmIVVZieSqWY9bKNTpCoTV4Zxh6FMrQLrWqVULOLe4g/d01Gt8zuxa4+yo1uYLi2EpU6vZUKhr2sDUXKUqMQD+6VbkDlqSbg+pxSOGuuv7SVBBsCtBW0NzexqEXta4ECHEGapVs7LUKNnquANa5FsgygCyLbYbyGJrhELHlt4nkI9OnYWH6vqfnMPjGMzGw91fm3WEZmLqk7nU6nzMBSqlTdTYy6pp5SrLrqQw69PKZ8DdwnFswsw1HTY/lNbhSgqa7gMM2Wmh91nABZmHNFDL3ftFhyDA8lhjYzr6da9KioFstJR6sWqMf8ANUaUPWqliWYkk7kyrUaTqNAExQxlfEUFbcaw5kGkGb+wDofiIpoRQNMNIZ7wbvfQQ1JLQD0RDQAMnngEtGtIZ4+eBfw2JV0C7EXFjzsSLjrteZfCCi1qtB7AOQyX0uwuDY9bW+EjR90eIv8AHWB4hghVGpII2Ybj84GticIyeI6/nK0BgOL1aPcxAL09hVXUgfxjcjx+s2DhkqLnpMCDtY3U/lAoivpkqDtELX7zHPTv7xptra+hIsb221MLwjCIlejWQmsiVQ3ZiyVyU71ghazWut7GxvaCrUSujC366wPZC4I0IIII0IINwQet4GfWVwT2mbOSS2YEMWJ7xN+d7y1wehSeplq1FpjI5UuWWm1QD92lR11RCdyNbCwIJBF2ji6yBVFQlVNwrgOutrizX005dTa0ZMQwy3p0GsSSTRp94G2hsB0O3UwKnGTRauewACEUwFQuy5+zUVBTL99lz5rE6mW+D4fEUalOurLhyCcr1bANcFWXIdWuCRY233GhkqeOrCwDhbG/cRFvta9hqNPmb3lfs+pJ56kk3NgTrz0HwEAqV1UHsAQzBw9V1VX719aSqbUhrcW2sOWkDSohRYfonck8zCASpxDGimOrHYfifCADi2MyjIp1O/gPzM5yq9yAJLEYi5Otydz4ytAIHOoHMWPl+G0FHvGgTpmdDw2vemBzXT8pzqbzSwj5Tfkd4Gs7SBjBr6iMTARMgTGJkSYD3ikbxQNGknWWBByQMAlorSIMcQh4zGwJ6C8V4LFnuN4i3x0/GFKm/QZl/h98DoU3Nuq38hJVKt1uhBOw6X218uflKokhiFzDNa50DHc+BbnvzgF7Zl98affW5X+obp66eMelTynPRfITr3bFG/mXY+e8MpgWwwvdTkbmVHdP8ybHzFjAv0+OZRbEU7D76AtT9RuvzltcNSqjNTcEdVOYf2mGcQyf4i2H31uU9ea+vxgWwCnv0XNNjsyHun0H4QNurgnXlfy1+UrmU8LxbGU9KirVX73un4gfUSvxHG4msbALTXkF1b1Y6/C0DSZgJTr8VpLu4Pgve+kyDwx21dmbzJP1lfE0qdPTdunTzgXcR7Q/cT1b8h+cxsRiGclmNyYt99IMwGiiigKKKIQCdkbXlvC1QRY7/X+8Ng2BF4LFYHmvw/KATtSu3w5QqY0HcEfMTO7dtjr9Y4qiBotiF6/WArY0DYX+QlVnHWBZoB/21/D4RStFA7K0UizSAcwDXizSGaRD+EAuaAxb6AdWHy1/CTZpWq1NQCARY3BAIOo3B8oBIxF9DqPGQRR9k5f4WJK+jbr63jFddyD4HMP8uxHkR5wJpmX3Dp91jp6HcfMSzRxAbTUN907+nUeUp9qV961vvDVfU7r62hGUEWIv+tx0MC+rWgP2VQcyXQ3uQvut1uuw8xBI7L/GOh94eROjevxjPWLMMrZQL3JW/e5AqdbWv8RAviRq1FUFm0AFyf7SoMYUt2q5QdA660yfPdT4GBxuHrYl6eHoIXL2JKi62vYFm2VRYkk6AC/KBVxHFWqkJRUgnm1gR87KPEmZz0QrEXDG+rDa/O3XzmvxcUsNTNCi4q57ZqmTLmI3y31CdOu8xNhAGwGv1jCkbX5Sbmw849FlsQxI8hcnwgAVSTYbwrIF31boNh5nmY9TEclGUfM+ZgICiik1S4J6QFTqFTcS+mMDDXQzNjmBeqoDAnDjrAK5HOT7c+EBPStzgzJNUJkRAaKXf93tFA3gZOmIMOOkLTYQJ2iAj3HWKAxEp1h3j5D8T+Mu2lDEkqSxBKk+8NQNALNb3TpzgIiCFYj3xbxGo9ekmHuNNemo19Ywq65SCrdDof7iAZH5g/CMEHLu+AHd/wAvL0t5GB7K2qm30PmI4rW94W8d1+PL1gWFc8x6jUHyP4Gx8JMyvna4CjNfexA09dDy0hadUHTmNwRYjzB1ECYqZb9Od9iPEHQiavsLx39lGJq5StGqhplFdgmmrVMh0J5DoCwE57HZnK0U96oQvQAHqeQ/IyXF2qU6a4WpanbmRuoPVAcwJub6wMnFVUeqTdglyF0uco20JH15yFWwsdSDqLgA2BI2BNtQZaocLRt8VQH+tffkOzsT6iV+Jle0YICEGiBrZsg0UtYkZja5tpcmACo1zBx7xoCiiigSpoSQBuZecBVtyHzg+Huovf3jpflboPGRxlW5sOX1gViY0UUB7xoooClzh1K7ZjylRRc2mohFNfH6mBdzRTO7ep0EUDepqJLIOkalfmJMwIdkOkbs7bGSLxke8BrN1mW9RldiCQbnb8es17zHxhs5vpfUX0v5dYD9opN8gVuZXRT5ptfxEJnuLMAy9Dy/lO6+kq/rxklc+f1+HP0+ECyiH7BzfwMQH9G2b5GOlQHTYjcEWI8wYFWBhKmLsO+A1tiRdl8jv6QJpTA20+klUII72ttjezL5N08DcSNOoGFwbyrxStZcvNvpzgLAYqn2xZySLZVYrrve5AOnMXF99pdxWE/aK63Y9mqM7te5WhSuXYdT7wHjMCllNhsevL1nV+xGFXG8QSm1xR7ucE6fs9KxyNrrmKoD1LEwOk4h7IUKeCXFYpMtWtTNYU1JXs6QtkXbQlqmGohTayiqw1GnmVLDs1youq76gfZZufgjH0non+1b2o/aHIQ3VyCtv+TSzpQ2OoYtXq+VZek47GHsqK0B77ANU30L2cg+SikPAiqJRjOByPx3kY5jSBRRRQJW0kY4MJVUAAczqfC+w+Gvr4QBRRRQFFFJJvAs4VQozH0k1JY5j6DpBqC2+w2jV6vIQLHaDrGlDLFA6ZXYfakxWbwkbQgpwGFU/dvHFUfdMdRaOrQF2qnrKPEMQyWtZkOhRxdb/h6dJpBhKmOClSCIGY2Ip7hD0Kk3AHVG3B8+skqhvca/8DWDeh2b6ylVABteQgX82tjcEddGH6+EIlQgggm42OxlVMVcWcZxyvow8m3haNQHY9d97X084FjuMbm9NvvoND/NT2Pp8JmY4nOQWVraXW9j8ZbxL2Un4SgiKR71j47QBiaGC45iaVuzr1FANwuYlL+KG6n4TOmhwrhFWue6LLzY+6PzPgIDVsd2j9o6rmBDEKAqNblkAsvkAB4SrVrMzM7G7MSSepJuTNHjfDuwyrdSSLnKGva+hNyQOmnSZaLc2+pA+ZlEYpN0sbGWsDhr947cvGQUo4E3gg6SLUlO4B9IGGRGlnHFc1lAAGmnXn+vCDp4d21Ckjry+MAUUsNg3HL5iCNJvun4QIQ1CjfXlCUMITqdB84au4QePKAKvUy6Df6SqIibxoEs0UjFA6gGHVhK0e8CwTIso6wV40BMZQxteWqzzJxjwKrNeINIxQDKwMspUsLEBgOR3Hkw1EoQi1SPGAfFkECzH+UjX4jQ+ekBRosxsoJMf3iJuYRMo0gS4bwNRY1DmP3Rt6nnOnGIWmnIKqk2GgAA5CZFKpCtWBFjsYHO4rHLVDM/vsSx5+CKPAC0zalMg/l9POaeM4UoN0OnQ628jK+GYUnu4zCxA8Li1/QXt42lFZHsbE6DT/xNOiwtpKeIwjaNa2YBgPBtV+Vj6yvTqlTINq8HXc6KvvNt4DmTK1PGi2su4elYXPvHfwHJRAFQ4ei6nvHx934c/WD4pi2BCg20/wDAHSXpR4jhS3eXcaEdR4QKNHEkEXJtz1vNOmwbblpMbIb25zVogU1JbQk3tzsBYeu+nlAlXcKLmZNRyTcyeIrlzf4QMBRRRQFFFFA6aKKKA8YxRQK1eZWK3iigV4oooCiiigHwnvTco7R4oBVk2jxQK9WYeO970iilV0nF+X8q/wDas5rG+9FFAbBf4ifzr9RN4xRQhhFHikDTJ4luIooFGKKKAooooCiiigf/2Q==");
  color: #fff;
  padding: 80px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.aura-content {
  max-width: 700px;
  margin: auto;
}

.aura-hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.aura-hero p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 30px;
  opacity: 0.9;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.learn-btn {
  padding: 12px 30px;
  background: linear-gradient(to right,lightblue,darkblue);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}


.learn-btn:hover {
  background:  linear-gradient(to right, darkblue,lightblue);
  color: black;
}
.my{
  background-image: url("https://images.unsplash.com/photo-1612817159949-195b6eb9e31a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHdhdGNofGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  color: white;
  position: relative;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;


}
.content {
  max-width: 700px;
  margin: auto;
}

.my h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.my p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 30px;
  opacity: 0.9;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.btn {
  padding: 12px 30px;
  background: linear-gradient(to right,darkblue,lightblue);
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.btn:hover {
  background: linear-gradient(to right,lightblue,darkblue);
  color: black;
}

h1{
  text-align: center;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}



.pagal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.pagal-box {
  background-color: black;
  width: 500px;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.pagal-box h2 {
  color: white;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.pagal-box p {
  color: azure;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.pagal-box img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}
.pagal-box video{
  width: 120px;
  height: 120px;
  object-fit: cover;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.button{
  background: linear-gradient(to right,lightblue,darkblue);
  color: white;
  padding: 20px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  width: 600px;
  text-align: center;
  font-size: 20px;
}
.button:hover{
  background: linear-gradient(to right,darkblue ,lightblue);
  color: black;
  
}



.hero {
  padding: 40px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: lightgray;
  width: 250px;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
}

button {
  background: #2c1a1a;
  color: white;
  padding: 10px;
  border: none;
}

@media (max-width: 570px) {
  .products {
      flex-direction: column;
      align-items: center;
  }
  .card h3 .card p {
    flex-direction: column;
    align-items: center;
}
.button {
  flex-direction: column;
  align-items: center;
}
}



  /* animation: bounce 2s infinite; */
  

/* @keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
} */
  /* animation: bounce 2s infinite; */
/* @keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
} */
form {
  display: flex;
  flex-direction: column;
  width: 580px;
  margin: 40px auto;
  padding: 20px;
  background:  linear-gradient(to right,black,grey);
  color: white;
  border-radius: 8px;
  position: relative;
  margin-bottom: 25px;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}
@keyframes fadeIn{
  form{opacity: 0;transform: translate(10px);}
  to{opacity: 1; transform: translate(0);}

}
form h2 {
  margin-top: 10px;
  text-align: center;
}

form p {
  margin-bottom: 25px;
  text-align: center;
}

form label {
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.3s;
  }



form button {
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(to right, #2563eb, #1e3a8a);
  color: white;
  border: none;
  border-bottom: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

form button:hover {
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  border-bottom: 2px solid silver;
  color: black;
}

/* Floating label input */
.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 560px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid slategray;
  outline: none;
  font-size: 16px;
}

.input-group input:hover{
  border-bottom: 2px solid gold;
}



.input-group input:focus + label,
.input-group input:valid + label {
  top: -20px;
  font-size: 12px;
  color: #1e3a8a;
  border-bottom: 2px solid white;
}




.any {
  background: #fff;
  padding: 30px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.any h2 {
  color: #000;
  margin-bottom: 25px;
}

/* Floating field */
.field {
  position: relative;
  margin-bottom: 20px;
}

.field input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 15px;
}

.field label {
 
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

/* Floating effect */
.field input:focus + label,
.field input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #3f51b5;
}

.field input:focus {
  border-color: #3f51b5;
}

/* Button */
.any button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  border-bottom: #000;
  box-shadow: 2px solid black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.any button:hover {
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  color: black;
  border-bottom: white;
}

/* Links */
.links {
  color: #000;
  text-align: center;
  margin-top: 15px;
}

.links a {
  color: #3f51b5;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  color: darkblue;
  text-decoration: underline  ;
}

/* sign up */
.signup-form {
  background: #fff;
  padding: 35px 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Floating Field */
.patlo {
  position: relative;
  margin-bottom: 20px;
}

.patlo input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 15px;
}

.patlo label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.patlo input:focus + label,
.patlo input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #3f51b5;
}

.patlo input:focus {
  border-bottom-color: #3f51b5;
}

/* Button */
.signup-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #1e3a8a, #2563eb);
   border-bottom: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-form button:hover {
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  border-bottom: white;
  
}

/* Login link */
.signup-form .login-link {
  color: #000;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-form .login-link a {
  color: #3f51b5;
  text-decoration: none;
}

.signup-form .login-link a:hover {
  text-decoration: underline;
}










.footer {
  background: black;
  color: #d2d2d2;
  padding: 60px 20px 30px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
  
}
.footer-section p{
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.footer-section ul li {
  margin-bottom: 10px;

}

.footer-section ul li a {
  color: #bdbdbd;
  text-decoration: none;
  transition: 0.3s;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.footer-section ul li a:hover {
  color: #8f8cff;
  text-shadow: 0 0 6px #8f8cff;
}

.brand .logo {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  border-top: 1px solid #2b2b2b;
  padding-top: 20px;
  color: #8f8f8f;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

/* Responsive */
@media(max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}











